---
layout: default
---
<div id="wrapper">
    <main class="jobs_wrapper">

        <img class="logo" src="/images/layout/logo.png" />
        {% include social.html %}

        <div class="content">
            <section class="jobs" id="jobs">
                <div class="title">Job Opportunities</div>
                <div class="subtitle">
                    You're brilliant? They're hiring! HackYale
                    has partnered with top technology startups in New York
                    and New Haven potentially
                    interested in hiring you for internships and full-time
                    positions.
                </div>
                <div class="body">
                    <section>
                        <ul class="jobs-nav">
                            <li class="jobs-nav-item first">
                                <a href="#warby">Warby Parker</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#artsy">Artsy</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#urban">Urban Compass</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#yipit">Yipit</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#brewster">brewster</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#mongodb">MongoDB</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#harrys">Harrys</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#amicus">Amicus</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#panorama">Panorama</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#seeclickfix">SeeClickFix</a>
                            </li>
                            <li class="jobs-nav-item">
                                <a href="#three_derm">3Derm</a>
                            </li>
                        </ul>
                    </section>
                    <ul class="listings">
                        {% include jobs/warby_parker.html %}
                        {% include jobs/artsy.html %}
                        {% include jobs/urban_compass.html %}
                        {% include jobs/yipit.html %}
                        {% include jobs/brewster.html %}
                        {% include jobs/mongodb.html %}
                        {% include jobs/harrys.html %}
                        {% include jobs/amicus.html %}
                        {% include jobs/panorama.html %}
                        {% include jobs/see_click_fix.html %}
                        {% include jobs/three_derm.html %}
                    </ul>
                </div>
            </section>
        </div>
    </main>
</div>

