
<li class="first">
  <div class="left">
    <div class="name">Data Science and Python</div>
    <div class="description">
      <p>
        <a href="http://www.linkedin.com/in/kylelawrencejensen/" target="_blank">Kyle</a> holds a Ph.D. from MIT in chemical engineering and is a founder of <a href="http://pitrho.com" target="_blank">Pit Rho</a>, 
        which provides real-time analytics for motorsports teams. He'll be talking on Thursday about Data Science, a hot topic in today's data-driven world. It will be a tour of data science methods with Python, touching on data mundging, machine learning, regression, bayesian methods, natural language processing, big data. Highly recommended, especially for CS students.
      </p>
      <p>
        Recommended: Basic programming experience and perhaps some Python, but that's not as necessary.
      </p>
      <p class="bold">
        Time: Thursday 10/17, 7:30-9:30 p.m.
      </p>
      <p class="bold">
        Place: CEID lecture hall.
      </p>
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="http://goo.gl/0HkOGY" target="_blank">Register</a>
  </div>
</li>
<li>
  <div class="left">
    <div class="name">Web Development 101</div>
    <div class="description">
      <p>
        If you're dying to learn how to make a website but don't know where to start, this is the class for you. We've designed a curriculum where you'll work closely with other students to learn what the Internet is, how it works and how you can get your ideas out there. We take a project-based approach, so our goal is that by the end of the class, you'll have made some like-minded friends and built a live website. No programming experience required!
      </p>
      <p>
        At least 6 weekly meetings, Friday 1 - 2:30 p.m. or Thursday 8 - 9:30 p.m. starting 9/19/2013.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="difficulty">Class applications are now closed.</div>
    <!-- <a class="apply_button" href="http://goo.gl/55Ncbs" target="_blank">Apply</a> -->
  </div>
</li>
<li>
  <div class="left">
    <div class="name">Intro to Front-end Development (Programming Intensive)</div>
    <div class="description">
      <p>
        This class is where programmers become true hackers (not in the evil way, but the 
        <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)" target="_blank">good way</a>). 
        We'll show you the ropes of HTML, CSS and Javascript, then dive right into using various frameworks and web-specific programming techniques, developing open source and learning to deploy quickly. We want you to have taken CS 112 or equivalent and have a do-it-yourself attitude. This is the flagship HackYale class, supercharged!
      </p>
      <p>
        At least 6 weekly meetings, Tuesday 8 - 9:30 p.m. or Thursday 8 - 9:30 p.m. starting 9/17/2013.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="difficulty">Class applications are now closed.</div>
    <!-- <a class="apply_button" href="http://goo.gl/SDJtm7" target="_blank">Apply</a> -->
  </div>
</li>
<li>
  <div class="left">
    <div class="name">HackYale is Recruiting Teachers!</div>
    <div class="description">
      We're a small group of students that teach the basics of HTML, CSS and Javascript, but more importantly, try to convey why we love programming, building apps and hacker culture. So as the year kicks off, we're calling all forces: if you love programming and love to get others to love programming, we want you as a HackYale instructor. You're empathetic, devoted and technically skilled—we recommend at least one year of experience with HTML, CSS and Javascript, as well as fluency with at least one other programming language. 
      If this sounds like something you'd grab by the horns, please apply by September 4!
    </div>
  </div>
  <div class="right">
    <div class="difficulty">Teacher applications are now closed.</div>
  </div>
</li>
<!-- <li class="first">
  <div class="left">
    <div class="name">Introduction to Web Development</div>
    <div class="description">
      A beginner's guide to web terminology, site architecture, and
      the development process.  This class will
      focus on the design of simple websites in HTML and CSS,
      and provide a functional introduction to programming within the JavaScript language.
    </div>
  </div>
  <div class="right">
    <!--a class="apply_button" href="https://docs.google.com/spreadsheet/viewform?formkey=dFoyc0ZwRjloMkpXa0tGYmJTLUdTaEE6MQ#gid=0">Apply</a>
    <div class="difficulty">Applications have closed for Spring 2013</div>
  </div>
</li>
 -->
