<li class="first">
  <div class="left">
    <div class="name">Introduction to Frontend</div>
    <div class="description">
      A beginner's guide to web terminology, site architecture, and
      the development process.  This class will 
      focus on the design of simple websites in HTML and CSS, 
      and provide a functional introduction to programming within the JavaScript language.
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/spreadsheet/viewform?formkey=dENnNUc3UXkzOTd3VHQycnptSjVTbHc6MQ#gid=0">Apply</a>
    <div class="difficulty">beginner</div>
  </div>
</li>