

<li class="first">
  <div class="left">
    <div class="name">Rapid Fire Graphic Design</div>
    <div class="description">
      <p>
        Graphic design is a crucial, but often ignored, element in the creation of a usable app, website, or product.  In this class, we will cover some of the basic principles of good graphic design, while getting familiar the Adobe Creative Suite.
      </p>
      <p>Prerequisites: None</p>
      <p>
        <strong>Dates:</strong> April 5, 2015 to April 19, 2015<br />
        <strong>Time:</strong> Sundays from 1:00pm - 2:15pm<br />
        <strong>Place:</strong> Bass Library, Room TBD
      </p>
    </div>
  <div class="right">
    <a class="apply_button" href="http://goo.gl/forms/JovYA2IwBW" target="_blank">Apply</a>
    <!-- <div class="difficulty">Applications are now closed</div> -->
  </div>
</li>


<li class="first">
  <div class="left">
    <div class="name">Writing Efficient Code</div>
    <div class="description">
      <p>
        In this series of lectures, you will learn techniques for writing high-performance, efficient code. Topics covered will include CPU cache utilization, data parallelism, and concurrency. Methods for locating and correcting bottlenecks in code will also be covered.  There will be no homework for this course.
      </p>
      <p>Prerequisites: Familiarity with C programming</p>
      <p>
        <strong>Dates:</strong> April 3, 2015 to April 24, 2015<br />
        <strong>Time:</strong> Fridays from 3:00pm - 4:00pm<br />
        <strong>Place:</strong> TBD
      </p>
    </div>
  <div class="right">
    <a class="apply_button" href="http://goo.gl/forms/hx5hsF4vx7" target="_blank">Apply</a>
    <!-- <div class="difficulty">Applications are now closed</div> -->
  </div>
</li>


<li class="first">
  <div class="left">
    <div class="name">Android Application Development</div>
    <div class="description">
      <p>
        This course will teach you how to write and deploy basic Android applications.  We will introduce the Android development environment, and will cover XML and Java programming for Android.  Each class will include a 1 hour and 15 minute lecture followed by a 45 minute interactive workshop for guided hands-on practice.
      </p>
      <p>Prerequisites: CPSC 112 or equivalent</p>
      <p>
        <strong>Dates:</strong> March 29, 2015 to April 19, 2015<br />
        <strong>Time:</strong> Sundays from 3:00pm - 5:00pm<br />
        <strong>Place:</strong> TBD
      </p>
    </div>
  <div class="right">
    <a class="apply_button" href="http://goo.gl/forms/LrRS5Soswp" target="_blank">Apply</a>
    <!-- <div class="difficulty">Applications are now closed</div> -->
  </div>
</li>


<li class="first">
  <div class="left">
    <div class="name">Natural Language Processing in Python</div>
    <div class="description">
      <p>
        If you've ever used GoogleTranslate, Siri, or any modern search engine, then you're familiar with Natural Language Processing (NLP). Using Python's Natural Language Toolkit, this course will provide a basic overview of NLP tasks, from word tokenization and text classification to language modeling and sentiment analysis.
      </p>
      <p>Prerequisites: Some programming experience</p>
      <p>
        <strong>Dates:</strong> April 4, 2015 to April 18, 2015<br />
        <strong>Time:</strong> Saturdays from 3:00pm - 4:15pm<br />
        <strong>Place:</strong> TBD
      </p>
    </div>
  <div class="right">
    <a class="apply_button" href="http://goo.gl/forms/wttln0bi7H" target="_blank">Apply</a>
    <!-- <div class="difficulty">Applications are now closed</div> -->
  </div>
</li>


<li class="first">
  <div class="left">
    <div class="name">Full Stack Web Development with Flask</div>
    <div class="description">
      <p>
        Flask is a micro framework written in Python. It's extremely light-weight and simple to use, but it's powerful enough to support enterprise-grade applications (Pinterest, Twilio, and LinkedIn all use this framework for some of their core applications). We'll start with a quick introduction on programming in Python, before diving straight into writing server code, integrating APIs, and deploying code. By the end of the course, you'll have built your own custom dynamic blog, complete with user accounts, sessions, notifications, and more!
      </p>
      <p>Prerequisites: CPSC 112 or equivalent</p>
      <p>
        <strong>Dates:</strong> April 3, 2015 to April 24, 2015<br />
        <strong>Time:</strong> Fridays from 4:00pm - 5:30pm<br />
        <strong>Place:</strong> TBD
      </p>
    </div>
  <div class="right">
    <a class="apply_button" href="http://goo.gl/forms/BTM42wnPnW" target="_blank">Apply</a>
    <!-- <div class="difficulty">Applications are now closed</div> -->
  </div>
</li>


<!--
<li class="first">
  <div class="left">
    <div class="name">Rapid-Fire C++</div>
    <div class="description">
      <p>
        Five week course in C++ programming. We assume experience using at
        least one C-like language (ie. C or Java), and will cover all the
        basics of C++, as well as a few more advanced features. Specifically,
        we will cover memory management (RAII), object-oriented programming,
        the standard template library, templates, smart pointers, C++11
        features like lambdas, r-value references, and more!
      </p>
      <p>
        This course is perfect for anyone who wants a head start learning C
        concepts for CPSC 223 in the Spring, or for anyone who needs a crash
        course in C++ for some of the 400-level courses.
      </p>
      <p>
        <strong>Dates:</strong> September 19, 2014 to October 17, 2014<br />
        <strong>Time:</strong> Fridays from 12:30-1:45pm<br />
        <strong>Place:</strong> CEID M105-107
      </p>
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="http://goo.gl/FMm1Kb" target="_blank">Apply</a>
    <div class="difficulty">Applications are now closed</div>
  </div>
</li>
<li class="first">
  <div class="left">
    <div class="name">Data Science and Python</div>
    <div class="description">
      <p>
        <a href="http://www.linkedin.com/in/kylelawrencejensen/" target="_blank">Kyle</a> holds a Ph.D. from MIT in chemical engineering and is a founder of <a href="http://pitrho.com" target="_blank">Pit Rho</a>, 
        which provides real-time analytics for motorsports teams. He'll be talking on Thursday about Data Science, a hot topic in today's data-driven world. It will be a tour of data science methods with Python, touching on data mundging, machine learning, regression, bayesian methods, natural language processing, big data. Highly recommended, especially for CS students.
      </p>
      <p>
        Recommended: Basic programming experience and perhaps some Python, but that's not as necessary.
      </p>
      <p class="bold">
        Time: Thursday 10/17, 7:30-9:30 p.m.
      </p>
      <p class="bold">
        Place: CEID lecture hall.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="difficulty">Applications are now closed.</div>

    <a class="apply_button" href="http://goo.gl/0HkOGY" target="_blank">Register</a>
  </div>
</li>
<li class="first">
  <div class="left">
    <div class="name">Introduction to Frontend</div>
    <div class="description">
      A beginner's guide to web terminology, site architecture, and
      the development process.  This class will
      focus on the design of simple websites in HTML and CSS,
      and provide a functional introduction to programming within the JavaScript language.
    </div>
  </div>
  <div class="right">
    --><!-- Display either an apply button or a div --><!--
    <a class="apply_button" href="https://docs.google.com/spreadsheet/viewform?formkey=dENnNUc3UXkzOTd3VHQycnptSjVTbHc6MQ#gid=0">Apply</a>
    <div class="difficulty">Applications for Fall 2012 are now closed</div>
  </div>
</li>
-->
