<li class="first">
  <div class="left">
    <div class="name">Introduction to Web Development</div>
    <div class="description">
      <p>
        Want to learn how to build websites? This is the course to get your
        feet wet.  We expect no prior experience whatsoever, and will explain
        all concepts from the very beginning. If you already have some
        background in web development, consider taking <a href="#adv_js">
        Advanced JavaScript</a> instead.
      </p>
      <p>
        <strong>Dates:</strong> September 14, 2014 to October 19, 2014<br />
        <strong>Time:</strong> Sundays from 2:30-3:45pm<br />
        <strong>Place:</strong> HLH17 room 05
      </p>
    </div>
  </div>
  <div class="right">
    <!-- <a class="apply_button" href="http://goo.gl/jgmJHO" target="_blank">Apply</a> -->
    <div class="difficulty">Applications are now closed</div>
  </div>
</li>

<li class="first">
  <div class="left">
    <div class="name">Rapid-Fire C++</div>
    <div class="description">
      <p>
        Five week course in C++ programming. We assume experience using at
        least one C-like language (ie. C or Java), and will cover all the
        basics of C++, as well as a few more advanced features. Specifically,
        we will cover memory management (RAII), object-oriented programming,
        the standard template library, templates, smart pointers, C++11
        features like lambdas, r-value references, and more!
      </p>
      <p>
        This course is perfect for anyone who wants a head start learning C
        concepts for CPSC 223 in the Spring, or for anyone who needs a crash
        course in C++ for some of the 400-level courses.
      </p>
      <p>
        <strong>Dates:</strong> September 19, 2014 to October 17, 2014<br />
        <strong>Time:</strong> Fridays from 12:30-1:45pm<br />
        <strong>Place:</strong> CEID M105-107
      </p>
    </div>
  </div>
  <div class="right">
    <!-- <a class="apply_button" href="http://goo.gl/FMm1Kb" target="_blank">Apply</a> -->
    <div class="difficulty">Applications are now closed</div>
  </div>
</li>

<li  id="adv_js" class="first">
  <div class="left">
    <div class="name">Advanced JavaScript</div>
    <div class="description">
      <p>
        Five week course in advanced JavaScript. We assume some basic coding
        background, and will cover many new JavaScript libraries and frameworks
        used by modern tech companies, including Angular.js, Node.js, and
        jQuery.  This course is a great way for JavaScript beginners to gain
        some familiarity with the more advanced aspects of the language and its
        libraries.
      </p>
      <p>
        <strong>Dates:</strong> September 16, 2014 to October 14, 2014<br />
        <strong>Time:</strong> Tuesday nights from 7:00-8:30pm<br />
        <strong>Place:</strong> CEID M105-106
      </p>
    </div>
  </div>
  <div class="right">
    <!-- <a class="apply_button" href="http://goo.gl/fZMb1s" target="_blank">Apply</a> -->
    <div class="difficulty">Applications are now closed</div>
  </div>
</li>


<!--
<li class="first">
  <div class="left">
    <div class="name">Data Science and Python</div>
    <div class="description">
      <p>
        <a href="http://www.linkedin.com/in/kylelawrencejensen/" target="_blank">Kyle</a> holds a Ph.D. from MIT in chemical engineering and is a founder of <a href="http://pitrho.com" target="_blank">Pit Rho</a>, 
        which provides real-time analytics for motorsports teams. He'll be talking on Thursday about Data Science, a hot topic in today's data-driven world. It will be a tour of data science methods with Python, touching on data mundging, machine learning, regression, bayesian methods, natural language processing, big data. Highly recommended, especially for CS students.
      </p>
      <p>
        Recommended: Basic programming experience and perhaps some Python, but that's not as necessary.
      </p>
      <p class="bold">
        Time: Thursday 10/17, 7:30-9:30 p.m.
      </p>
      <p class="bold">
        Place: CEID lecture hall.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="difficulty">Applications are now closed.</div>

    <a class="apply_button" href="http://goo.gl/0HkOGY" target="_blank">Register</a>
  </div>
</li>
<li class="first">
  <div class="left">
    <div class="name">Introduction to Frontend</div>
    <div class="description">
      A beginner's guide to web terminology, site architecture, and
      the development process.  This class will
      focus on the design of simple websites in HTML and CSS,
      and provide a functional introduction to programming within the JavaScript language.
    </div>
  </div>
  <div class="right">
    --><!-- Display either an apply button or a div --><!--
    <a class="apply_button" href="https://docs.google.com/spreadsheet/viewform?formkey=dENnNUc3UXkzOTd3VHQycnptSjVTbHc6MQ#gid=0">Apply</a>
    <div class="difficulty">Applications for Fall 2012 are now closed</div>
  </div>
</li>
-->
