  <div class="container-fluid">
    
    <div class="sidebar">
      <div id="fb_lists" class="well col">
        <div id="list_clone" class="fblist" style="display:none">
          <h3>Title</h3>
          <label>
            <input type="checkbox" value="yes"/>
            <span>In list</span>
          </label>
          <label>
            <input type="checkbox" value="no"/>
            <span>Not in list</span>
          </label>
        </div>
      </div>
    </div><!-- sidebar -->
    
    <div class="content">
      <div class="hero-unit col">
        <div id="start">
          <h2>Login to play!</h2>
          <div id='fb_connect' class='login_box active'>
            <div id='fb_login' class='facebook-button large'><span class='button-text'>Let's go!</span></div>
            <p id='privacy_info'>Questions? Read our <a href='/privacy'>Privacy Policy</a></p>
          </div>
        </div>
        <div id="failed" class="alert-message block-message" style="display:none">Facebook login failed, please try again!</div>
        <div id="success" style="display:none"> 
            <div id="filter_status"></div>
            <div id="filter_hint"></div>
            <div id="fb_friends"></div>
        </div>
      </div>  
    </div><!-- content -->
    
    <div class="clearfix">&nbsp;</div>
  </div><!-- container fluid -->


