<div class="right_section">
  <div id="homepage_floatbox">   
    <form id="join" action="http://hackyale.us4.list-manage1.com/subscribe/post?u=58174dafe2bf417b6e6db1036&amp;id=fa4bc26d78" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>                  
        <div class="title">
          Join our email list!
        </div>
        <p>Stay up to date on classes, workshops, events, and speakers.</p>
        <input id='contact-email' type="email" name="EMAIL" placeholder= "signmeup@yale.edu" />

        <div id="flash-success" class="success" style="display:none">
          <p></p>
        </div>
        <div id="flash-error" class="error" style="display:none">
          <p></p>
        </div>
				<input id='contact-submit' type="submit" value="Join" name="subscribe" class="join_button">
    </form>  
  </div>
</div>