<div class="container min">
  <h3>About + Privacy</h3>
  <p>
    Built in ruby + javascript, this app uses the Facebook Open Graph API to help you
    more effectively manage lists.
  </p>
  <p>
    It is hosted open source on GitHub, and provided as-is. 
    No personal data is retained or saved outside of your immediate client session.
  </p>
  <hr />
  <a href="//twitter.com/baygross">@baygross</a>
  <a href="/" style="float:right">Back -> </a>