<li class="first">
  <div class="left">
    <div class="name">Twitter Bootstrap</div>
    <div class="description">
        Twitter Bootstrap is a "sleek, intuitive, and powerful front-end
        framework for faster and easier web development." Learn how to
        use it with Rafi Khan (Pierson, 2015) on <b>Wednesday, October 3rd from 7-9pm.</b>
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dHN1Wmlpa3hmZDE0Y09QWVJyczBwVHc6MQ">Register</a>
    <div class="difficulty">Beginner</div>
  </div>
</li>

<li class="first">
  <div class="left">
    <div class="name">Adobe Illustrator and Photoshop</div>
    <div class="description">
        For designers, the Adobe family of products is "the ultimate playground
        for bringing out the best in your digital images, transforming them
        into anything you can imagine, and showcasing them in extraordinary
        ways." Chika Ota (Rollins Fellow of Design, Trumbull 2011) is leading
        a workshop on Photoshop and Illustrator <b>Thursday, October 4th from 7-9pm.</b>
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dGV1T3A3SF9LLVlzT0RWeU9ENU0ydkE6MA">Register</a>
    <div class="difficulty">Intermediate</div>
  </div>
</li>
