<li class="first">
  <div class="left">
    <div class="stub">
      New workshops for Fall 2014 coming soon!
    </div>
  </div>
</li>

<!--
<li class="first">
  <div class="left">
    <div class="name">Rails from the Ground Up</div>
    <div class="description">
        Adam Bray, Head of the STC Developers program will lead an
        information-packed walkthrough of how to build a Ruby on Rails
        application from scratch. Adam has taught multiple full length Rails
        courses, and will devote our two hour workshop to helping you find the
        tools you need to get your jobs done in the most efficient ways possible.
        Time: <b>Thursday, November 15th from 7-9pm.</b>
        Prerequisite: Installation of Rails, minimal programming experience.
    </div>
  </div>
  <div class="right">
      <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dGdtWGZqNVZXaXEtZjZFd25LX29ILUE6MA#gid=0">Register</a>
    <div class="difficulty">Beginner/Intermediate</div>
  </div>
</li>

<li class="first">
  <div class="left">
    <div class="name">0-60 in Startup Technology</div>
    <div class="description">
        The role of a technical lead at a startup from day one; a crash course
        in the technologies, infrastructure and planning involved in successfully
        building a tech startup. On <b>Friday, November 2nd from 7-8:30pm</b>,
        Daniel Doubrovkine, Head of Engineering at
        <a href="http://art.sy">Art.sy</a>, will lead a conversation about the steps
        necessary to build a technology startup from day one. Art.sy is
        phenomenal about sharing the problems they face and the solutions they
        develop, so I highly recommend checking out their
        <a href="http://artsy.github.com/">engineering blog</a>.
        Prerequisite: Interest in technology.
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dEFNdTdDRWs5NFVWbWtLT0tBQnpOQkE6MA#gid=0">Register</a>
    <div class="difficulty">Beginner</div>
  </div>
</li>

<li class="first">
  <div class="left">
    <div class="name">Relational and NoSQL Database Architectures</div>
    <div class="description">
        Michael Adkins is a junior in Branford. Aside from school,
        he works for <a href="http://market76.com/">Market76</a>, a New Haven
        financial services company. With the job comes a lot of data, and
        <b>Thursday from 8:15 - 9:30pm</b> he'll be discussing some different
        strategies of handling it. Topics include understanding various data
        models, why they're different, and how to use them.
        Prerequisite: interest in data and its uses. Some programming
        experience or experience with SQL encouraged but not required.
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dHhvNUFyQ3RZNUp4MVFGT19mcHdxcGc6MA#gid=0">Register</a>
    <div class="difficulty">Beginner/Intermediate</div>
  </div>
</li>




<li class="first">
  <div class="left">
    <div class="name">Critiquing User Interface Design</div>
    <div class="description">
        Brandon Jackson is a senior in Calhoun. He took a year off
        to work as a designer and mobile developer for
        <a href='http://seeclickfix.com/'>SeeClickFix</a> and learned
        a lot in the process.
        <b>Wednesday from 8:30 - 9:30pm</b>,
        he will be leading a case-study based workshop on critiquing
        UI / UX design. Register now to soak up his knowledge!
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dEh2bHI3WmtCMTNaQW1fZDFqTjY4aVE6MA#gid=0">Register</a>
    <div class="difficulty">Beginner</div>
  </div>
</li>

<li class="first">
  <div class="left">
    <div class="name">Your first Node.JS application</div>
    <div class="description">
        Node.js is a platform built on Chrome's JavaScript runtime for
        building fast, scalable network applications. It uses an
        event-driven, non-blocking I/O model that makes it lightweight and
        efficient, perfect for data-intensive real-time applications.
        Sound like gibberish? Zack Reneau-Wedeen (Trumbull 2014) is here to
        help! He'll be leading Node.JS workshop on
        <b>Thursday, October 11th from 7-9pm</b>. Prerequisite: basic
        comfort with JavaScript.
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dERzU1RVcU94Z1g4ZlJ3emQ5UjBydlE6MA#gid=0">Register</a>
    <div class="difficulty">Intermediate</div>
  </div>
</li>

<li class="first">
  <div class="left">
    <div class="name">Twitter Bootstrap</div>
    <div class="description">
        Twitter Bootstrap is a "sleek, intuitive, and powerful front-end
        framework for faster and easier web development." Learn how to
        use it with Rafi Khan (Pierson, 2015) on <b>Wednesday, October 3rd from 7-9pm.</b>
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dHN1Wmlpa3hmZDE0Y09QWVJyczBwVHc6MQ">Register</a>
    <div class="difficulty">Beginner</div>
  </div>
</li>

<li class="first">
  <div class="left">
    <div class="name">Adobe Illustrator and Photoshop</div>
    <div class="description">
        For designers, the Adobe family of products is "the ultimate playground
        for bringing out the best in your digital images, transforming them
        into anything you can imagine, and showcasing them in extraordinary
        ways." Chika Ota (Rollins Fellow of Design, Trumbull 2011) is leading
        a workshop on Photoshop and Illustrator <b>Thursday, October 4th from 7-9pm.</b>
    </div>
  </div>
  <div class="right">
    <a class="apply_button" href="https://docs.google.com/a/hackyale.com/spreadsheet/viewform?formkey=dGV1T3A3SF9LLVlzT0RWeU9ENU0ydkE6MA">Register</a>
    <div class="difficulty">Intermediate</div>
  </div>
</li>
-->
