    <!--  simple header -->
<header>
    <div class="main_content">
        <a class="internal" href="http://hackyale.com">Home</a>
    </div>
</header>

<div id="wrapper">
    <div class="main_content jobs_wrapper">

        <img class="logo" src="/images/layout/logo.png" />
        {% include "social.html" %}

        <div class="content" style="border:none;">
            <div class="section jobs" id="jobs" style="border:none;">
                <div class="title">Job Opportunities</div>
                <div class="subtitle">
                    You're brilliant? They're hiring! HackYale
                    has partnered with top technology startups in New York
                    and New Haven potentially
                    interested in hiring you for internships and full-time
                    positions.
                </div>
                <div class="body">
                    <ul class="listings">
                        <div class="jobs-nav-wrapper">
                            <ul class="jobs-nav">
                                <div class="jobs-nav-section"
                                    style="width:445px;">
                                    <li class="jobs-nav-item first">
                                        <a href="#warby">Warby Parker</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#artsy">Artsy</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#urban">Urban Compass</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#yipit">Yipit</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#brewster">brewster</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#mongodb">MongoDB</a>
                                    </li>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="jobs-nav-section"
                                    style="width:335px;margin-top:4px;">
                                    <li class="jobs-nav-item first">
                                        <a href="#harrys">Harrys</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#amicus">Amicus</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#panorama">Panorama</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#seeclickfix">SeeClickFix</a>
                                    </li>
                                    <li class="jobs-nav-item">
                                        <a href="#three_derm">3Derm</a>
                                    </li>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        {% include "jobs/warby_parker" %}
                        {% include "jobs/artsy" %}
                        {% include "jobs/urban_compass" %}
                        {% include "jobs/yipit" %}
                        {% include "jobs/brewster" %}
                        {% include "jobs/mongodb" %}
                        {% include "jobs/harrys" %}
                        {% include "jobs/amicus" %}
                        {% include "jobs/panorama" %}
                        {% include "jobs/see_click_fix" %}
                        {% include "jobs/three_derm" %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
