<li>
  <img class="profile_photo" src="/images/team/dalya.jpg" style="width:120px">
  <div class="name">Dalya Dickstein</div>
  <div class="role">Director, YC'20</div>
  <div class="about">
    Dalya wanted to be a veterinarian until one lazy summer, her brother taught
    her code. Now she's majoring in CS and has never taken a second bio course.
    After Facebook University freshman year and joining the UI Infra team at
    Facebook last summer, she is looking forward to her next summer, where she
    will be working at Facebook.
  </div>
  <div class='clearfix'>&nbsp;</div>
</li>


<!--


<li>
  <img class="profile_photo" src="/images/team/annie.png" style="width:120px">
  <div class="name">Annie Cook</div>
  <div class="role">Events director, YC'17</div>
  <div class="about">
    Annie has been in love with coding from the very beginning. Last year. She
    is currently enrolled in her first college English course. Once she learns
    how to write, she will edit this bio.
  </div>
  <div class='clearfix'>&nbsp;</div>
</li>

<li>
  <img class="profile_photo" src="/images/team/rafi.png" style="width:120px">
  <div class="name">Rafi Khan</div>
  <div class="role">Former director, YC'15</div>
  <div class="about">
    Rafi hopped on the code game back in junior year of high school, going on to
    work on the <a href='http://www.google.org/crisismap' target='_blank'>
    Crisis Map</a> at Google the summer of 2013. Now he's the co-director and
    CTO of <a href='http://gakkoproject.com' target='_blank'>GAKKO</a>, an
    education company based in Japan. He dwells at a curious intersection of
    app development, design frenzy and algorithmic implementation—you can check
    out his projects <a href='http://rafi.me/portfolio' target='_blank'>
    here</a>. A connoisseur of fine wit, Rafi spends him time dancing with
    <a href='http://yale.edu/bhangra' target='_blank'>Yale Jashan Bhangra</a>,
    crafting puns and just walking around, checkin' stuff out.
  </div>
  <div class='clearfix'>&nbsp;</div>
</li>

<li>
  <img class="profile_photo" src="/images/team/alex.png" style="width:120px">
  <div class="name">Alex Reinking</div>
  <div class="role">Course instructor, YC'16</div>
  <div class="about">
    Alex is a Junior CS and Math double major, and has been coding for almost
    thirteen years. Though his interests lie mostly in research, he's held
    several coding positions at large companies and local startups alike.
    You can check out his website
    <a href='http://alexreinking.com' target='_blank'>here</a>.
    When he's not writing code or solving math problems, he can be found
    rocking his 7-string guitar with his
    <a href='https://soundcloud.com/oklahoma-caddy-shack/new-space-mp3' target='_blank'>
    metal band</a>. His weakness is
    <a href='http://youtu.be/-1GadTfGFvU' target='_blank'>bees</a>.
  </div>
  <div class='clearfix'>&nbsp;</div>
</li>


<li>
	<img class="profile_photo" src="/images/team/zack3.png" />
    <a href="http://twitter.com/#!/zackrw" target="_blank"><img class="profile_twitter" src="/images/layout/twitter.png"></a>
	<div class="name">Zack Reneau-Wedeen</div>
	<div class="role">Co-Director, YC'14</div>
	<div class="about">
        Zack has several years experience in web development, most recently
        through his roles at <a href='https://www.google.com/'>Google</a>
        and <a href='https://www.brewster.com/'>Brewster</a>.
		Besides things technological, he enjoys playing soccer,
		the beach, PG-rated movies starring Martin Lawrence,
		and the theory of evolution. Favorite keyboard-side snack:
		hot tea and a stalk of raw rhubarb; most overheard phrase:
		"I suppose..."; biggest pet peeve: american cheese.
	</div>
	<div class='clearfix'>&nbsp;</div>
</li>

<li class="">
    <img class="profile_photo" src="/images/team/caroline.png" style="width:140px">
    <div class="name">Caroline Lester</div>
    <div class="role">Scaling, Big-data, Pivots, Agility, YC'14</div>
    <div class="about">
        Caroline is all about the ladies. Specifically, ladies in
        entrepreneurship. At just six years old, she began innovating,
        problem-solving, and noticing when niche markets should be explored
        (her lemonade stand outside the entrance to the Ryder Cup made
        tens of dollars). Since then, she's branched out of the service
        industry, and most recently researched for both the Sloan
        School and The Arthur Rock Center for Entrepreneurship
        at Harvard Business School. Interests include gender
        equality, chocolate, and skiing.
    </div>
    <div class='clearfix'>&nbsp;</div>
</li>

<li>
	<img class="profile_photo" src="/images/team/max.png" style="width:90px">
	<div class="name">Max Pommier</div>
	<div class="role">Design, Brand, YC'14</div>
	<div class="about">
		Max has been tinkering with design for awhile now,
		in its various graphic, brand, layout, print, web, theatrical,
		production, intelligent, and non-intelligent shapes. He is rather
		fond of long nights on Photoshop, misusing idioms, and eating banana
		peppers for breakfast.
	</div>
	<div class='clearfix'>&nbsp;</div>
</li>

<li class="last" style="border-bottom:1px solid #DDD;">
	<img class="profile_photo" src="/images/team/daniel.png" style="width:90px">
	<a href="http://twitter.com/#!/danieltahara" target="_blank"><img class="profile_twitter" src="/images/layout/twitter.png"></a>
	<div class="name">Daniel Tahara</div>
	<div class="role">iOS, YC'14</div>
	<div class="about">
		Ever since he swallowed the red pill last spring,
		Daniel has dedicated his time to developing awesome
		software and learning just how far we can go with
		modern technology.  Although his primary expertise
		is in C (with Python next on the docket), he recently taught
		himself <a href='http://wp.me/p24oeJ-d'>Objective-C</a> and developed an
		<a href="http://itunes.apple.com/us/app/yale-daily-news/id480072824?mt=8">iPhone app</a>
		for the Yale Daily News.
		He is excited to work on similar projects this coming semester as he
		discovers just how far the rabbit hole goes.
		Oh yea, and lest he forget -- he loves to run, pun, and cook.
	</div>
	<div class='clearfix'>&nbsp;</div>
</li>

<div class="title" style="padding-top:20px;">Alumni and Advisers</div>

<li>
  <img class="profile_photo" src="/images/team/bay.png">
  <a href="http://twitter.com/#!/baygross" target="_blank"><img class="profile_twitter" src="/images/layout/twitter.png"></a>
  <div class="name">Bay Gross</div>
  <div class="role">Co-founder, Adviser, YC '13</div>
  <div class="about">
        Bay, a former co-director of HackYale, has been developing web
        <a href="http://baygross.com/#projects">applications</a>
    for over three years, most recently through his role as a (former) co-founder at
    <a href="http://amicushq.com" target="_blank">Amicus</a> and product management intern  at
    Google. He enjoys the internet,
    backpacking, and a well-placed oxford comma.  When pressed to choose a profile picture,
    he elected for one that made it look like he could sail. He cannot.
  </div>
  <div class='clearfix'>&nbsp;</div>
</li>

<li>
	<img id="will-portrait" class="profile_photo"
	src="/images/team/will.jpg" style="width:85px" />
	<a href="http://twitter.com/#!/gaybrick" target="_blank"><img class="profile_twitter" src="/images/layout/twitter.png"></a>
	<div class="name">Will Gaybrick</div>
	<div class="role">Advisor, Co-founder emeritus, YLS '12</div>
	<div class="about">
		Since transitioning from The Blackstone Group to the world of
		technology startups three years ago, Will has been an engineer at several companies
		including <a href="http://www.hunch.com" target="_blank">Hunch</a>,
		<a href="http://www.jumo.com" target="_blank">Jumo</a>,
		and <a href="http://www.milewise.com" target="_blank">Milewise</a>.
		Currently, he is an investor and engineer at Thrive Capital, a NYC based venture
		capital and private equity firm.
		Will enjoys piano, math, and combing his hair.
	</div>
	<div class='clearfix'>&nbsp;</div>
</li>
-->
