// COLORS
$body_text: #333333;
$sec_text: #666666;
$grey: #F2F2F2;
$blue: #3B5998;
$dark_blue: #3E86CE;
$red: #BD1E1E;

// SIZES


//MIXINS
@mixin rounded_corners($rad) {
	-webkit-border-radius: $rad $rad;
	-moz-border-radius: #{$rad} / #{$rad};
	-o-border-radius: #{$rad} / #{$rad};
	-ms-border-radius: #{$rad} / #{$rad};
	-khtml-border-radius: #{$rad} / #{$rad};
	border-radius: #{$rad};
}

@mixin bg_gradient($a,$b) {	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($a), to($b));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, $a, $b);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, $a, $b);
	/* IE 10 */
	background: -ms-linear-gradient(top, $a, $b);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, $a, $b);
	/* IE6,IE7 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$a}', endColorstr='#{$b}');
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$a}', endColorstr='#{$b}')";
}

@mixin opacity($a) {
	//Normal Browsers
	opacity: $a;
	// for IE5-7
	filter: alpha(opacity=#{$a * 100});
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$a * 100})";
}

@mixin rotate($degrees) {
   -moz-transform: rotate($degrees);  
     -o-transform: rotate($degrees);  
-webkit-transform: rotate($degrees);
           filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
       -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
             zoom: 1;
}

@mixin dropShadow($a, $b, $c, $d){ //eg: 2px 2px 4px #000
	-moz-box-shadow: $a $b $c $d;
	-webkit-box-shadow: $a $b $c $d;
	box-shadow: $a $b $c $d;
}


@mixin innerShadow($a, $b, $c, $d){	//eg:  2px 2px 4px rgba(0,0,0,.12)
	-moz-box-shadow: inset $a $b $c $d;
	-webkit-box-shadow: inset $a $b $c $d;
	box-shadow: inset $a $b $c $d;
}

@mixin transition($a){
	-moz-transition: $a linear;
	-webkit-transition: $a linear;
}

@mixin box_sizing(){
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}