<li class="listing">
            <img class="profile_photo" src="/images/jobboard/mongodb.jpg">
            <h2 class="name">10gen</h2>
             <div class="about">
               We're developing and supporting the open source and document style database: MongoDB. To date, we've raised over $80M, including strategic investment from Red Hat and Intel. Last year we doubled in size while revenue grew 4x. We're solving huge data problems for companies like Disney, eBay, Craigslist, foursquare, and over 500 others.
 </div>
<br>
<div class="contact_info"><span class="contact">contact</span>: visit <a href="http://www.10gen.com/careers">http://www.10gen.com/careers</a></div>
<div class="clearfix"></div>
</li>
