<li id="artsy" class="listing">
            <img class="profile_photo" src="/images/jobboard/artsy.jpg">
            <h2 class="name">Artsy</h2>
             <div class="about">
                 <a href="http://artsy.net">Artsy</a> is like Pandora for the fine art world. Our goal is to make the traditionally closed-off and intimidating art world accessible to anyone with an Internet connection. We believe that by increasing access, we can expand the market and get more people educated and passionate about fine art.

 </div>
<ul class="positions">
<li class="position">
<h3 class="position_name">Software Engineering Intern</h3>
<div class="role">
You are an aspiring and talented engineer who is passionate about solving hard problems, so we're not going to waste your time by saying "you must have at least a 3.8 GPA or "we're only looking for rockstars." Instead we're going to tell you why Artsy is an amazing place to work.
<a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
<div class="spaced">Why work at Artsy</div>
<ul><li>First and foremost, you will get to work with an amazing team. We invest an extraordinary amount of time finding the best possible people. This means as an intern, you will receive intensive mentorship from world-class engineers while taking ownership over full products from our front-end, to our API, back-end, and ipad app for partners.</li>
<li>There are no set hours or holidays, no pointless bureaucracy. Work whenever you want, wherever you want. That's the beauty of hiring world-class people, they deliver incredible results and are wonderful to work with — what else matters? The Netflix Culture slides do the best job of describing how we think about culture at Artsy.</li>
<li>To solve challenging problems, we employ cutting-edge technologies such as Backbone.js, Node.js, MongoDB and Redis; but when we can't find a technology that does what we need…</li>
<li>We write our own open-source projects and contribute them back to the community.</li>
<li>At its core, Artsy is a technology company. In addition to the engineering team, both the CEO and COO have technical backgrounds (Computer Science from Princeton, and Mathematics from Columbia). Our ultimate goal is to create artificial intelligence with the qualities of the world's most omniscient art advisor. If Skynet ends up winning, at least it will have good taste :).</li>
<li>We have partnered with 400+ of the best galleries in the world and 100+ art museums and non-profit institutions. No startup has ever come so close to unlocking this massive data set before.</li>
</ul></div>
</li>
</ul>
<div class="contact_info"><span class="contact">contact</span>: At Artsy, we are bringing art, science, design, and engineering together. Forgive the cliche, but there's no better way to say it: we want to change the world. If you want to change it with us, please drop us a line and include some links to what you've built: <a href="mailto:jobs@artsy.net">jobs@artsy.net</a>.</div>
<div class="clearfix"></div>
</li>
