<li id="brewster" class="listing">
            <img class="profile_photo" src="/images/jobboard/brewster.jpg">
            <h2 class="name">brewster</h2>
             <div class="about">
                 <a href="http://brewster.com/">Brewster</a> brings together everyone you know to create your own personalized address book. Available now in the iOS app store, we'll be developing Android and mobile web apps in the coming months. We're working on several interesting big data & search problems as we build and scale our service.
 </div>
<ul class="positions">
<li class="position">
<h3 class="position_name">Software Engineer</h3>
<div class="role">
We're hiring several full­time engineers this summer to work on backend app development, search, big data, mobile and web apps.
<!--a class="read_more" href="#">Read more...</a-->
</div>
<div class="more_reading" style="display:none;">
</div>

</ul>
<div class="contact_info"><span class="contact">contact</span>: email <a href="mailto:work@brewster.com">work@brewster.com</a></div>
<div class="clearfix"></div>
</li>

