<li class="listing">
            <img class="profile_photo" src="/images/jobboard/harrys.png">
            <h2 class="name">Harrys</h2>
             <div class="about">
               We built Harry's with one simple belief: everyone deserves a great shave at a fair price. As such, we seek to provide our own brand of exceptional shaving products direct to our customers online. We launched on March 13th and have been humbled and flattered by the early customer response. We're now looking to bring amazing people like you together to build innovative and flexible platforms, and help us continue to change the world, one 5-o'clock shadow at a time.
 </div>
<ul class="positions">
<li class="position">
<h3 class="position_name">Software Engineering Intern</h3>
<div class="role">
Role and Responsibilities
<ul><li>Design and implement core features of the production website</li>
<li>Build infrastructure to support various external features and other units of the business</li>
<li>Think about performance all the time, and proactively make changes to make our platform better</li>
<li>Determine and strategize ways to operate more efficiently, like optimizing our inventory and shipping algorithms</li></ul>
<a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
Background and Experience
<ul><li>Extremely comfortable working with Unix command line tools</li>
<li>Experience programming against SQL and "NoSQL" databases, and an understanding of what using one database over another buys you</li>
<li>Knowledge of at least one scripting language (PHP, Ruby, Python, etc.)</li>
<li>Knowledge of a typesafe language a plus, but certainly not necessary (Scala, Java, C)</li>
<li>Ability to prioritize coding tasks and ship code quickly and regularly</li>
<li>Superb communication skills and patience with others</li>
<li>General awesomeness and a sense of humor	 	 	 		</li>
<li>Start Date & Hours: Summer/Fall Semesters. While we ask that you commit a minimum of 12-15 hours/week, we'll happily work around your school schedule.</li>
</ul></div>
</li>
<li class="position">
<h3 class="position_name">Data Engineering Intern</h3>
<div class="role">
Role and Responsibilities:
<ul>Instrument our website and marketing communications to gather the data we need.
<li>Build infrastructure to automate data collection, storage, processing, and presentation.</li>
<li>Produce, analyze, and present data to users in a context that allows them to make meaningful strategic decisions.</li>
<li>Use your sheer intellectual horsepower to figure out and communicate how to better delight our customers.</li>
<li>Put our data to use to help run Harry's like a well-oiled machine.</li>
</ul><a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
Background and Experience:
<ul><li>Background in building systems that transport, transform, and make sense of [unstructured, structured, big, small] data</li>
<li>Experience programming against SQL and "NoSQL" databases, and an understanding of what using one database over another buys you</li>
<li>Background in working with and building A/B testing systems</li>
<li>Extremely comfortable with Unix command line tools and at least one scripting language (in the vein of Python, Ruby, PHP etc.)</li>
<li>Background working with web stacks – full stack development is a plus, but not required</li>
<li>Affinity and love for statistics in all ways, shapes and forms</li>
<li>A bachelor's degree in Computer Science with an internship or two under your belt, or you have comparable industry experience.</li>
<li>General awesomeness and a sense of humor</li>
<li>Start Date & Hours: Summer/Fall Semesters. While we ask that you commit a minimum of 12-15 hours/week, we'll happily work around your school schedule.</li>
</ul></div>
</li>

</ul>
<div class="contact_info"><span class="contact">contact</span>: Please email your resume to <a href="mailto:jobs@harrys.com">jobs@harrys.com</a> and include "Data Engineering Intern" in the title. Please also include a few sentences, which describe your background and your interest in working to further user experience at Harry's.</div>
<div class="clearfix"></div>
</li>

