<li id="harrys" class="listing">
    <img class="profile_photo" src="/images/jobboard/harrys.png">
    <h2 class="name">Harry's</h2>
    <div class="about">
        We built <a href="http://harrys.com/">Harry's</a> with one
        simple belief: everyone deserves a great shave at a fair
        price. As such, we seek to provide our own brand of
        exceptional shaving products direct to our customers online.
        We launched on March 13th and have been humbled and flattered
        by the early customer response. We're now looking to bring
        amazing people like you together to build innovative and
        flexible platforms, and help us continue to change the world,
        one 5-o'clock shadow at a time.
    </div>
    <ul class="positions">
        <li class="position">
            <h3 class="position_name">Customer Experience Associate</h3>
            <div class="role">
                A person's face is a special thing, which is why Harry's goes to
                great lengths to deliver a stellar experience. As a Customer
                Experience Associate, you're willing to go above and beyond to make
                customers feel awesome about trusting us with their shave.
                <a class="read_more" href="#">Read more...</a>
            </div>
            <div class="more_reading" style="display:none;">
                <div class="spaced">What We're Looking For</div>
                <ul>
                    <li>Energy, kindness, sincerity, patience and adaptability</li>
                    <li>The ability to problem solve and think on your feet, with analytical skills a huge, huge plus</li>
                    <li>Excellent computer and technical skills, including experience with Excel</li>
                    <li>A knack for building rapport with people quickly and easily</li>
                    <li>A "no task is too small" attitude and a positive, spirited outlook</li>
                    <li>A strong work ethic and an entrepreneurial spirit</li>
                    <li>General awesomeness and a sense of humor</li>
                </ul>

                <div class="spaced">Role and Responsibilities</div>
                <ul>
                    <li>Deliver above-and-beyond customer service through phone, email and social media.</li>
                    <li>Strategize ways to improve our service, streamline our processes, and better serve our customers.</li>
                    <li>Think creatively about ways in which we can optimize each customer’s experience.</li>
                    <li>Master our internal management system in order to efficiently and effectively manage customer relationships.</li>
                    <li>Channel customer insights to all areas of the business such as technology, marketing, design and product teams.</li>
                </ul>

                <div class="spaced">Commitment</div>
                This is a full-time position. Ability to work weekends required.

                <div class="spaced">Background and Experience</div>
                You are a college graduate who has continuously proven yourself
                academically and is eager to learn and grow with Harry's. You have
                previously been a rockstar in a customer-centric and demanding
                environment.

                <div class="spaced">Compensation and perks</div>
                We offer competitive start-up rates with access to a senior
                leadership team, as well as unlimited razors and hugs.
            </div>
        </li>
        <li class="position">
            <h3 class="position_name">Data Analyst</h3>
            <div class="role">
                The Data Engineering team provides the lifeblood for a disruptive model – a platform that provides the specific, accurate, and actionable intelligence that let us iterate and make decisions quickly. The Data Analyst role will be involved in every aspect of the business, from informing web product development to optimizing our supply chain to measuring the efficacy of marketing campaigns. This is a critical role that requires someone with a strong command of SQL and the ability to partner across the Harry’s team to address our most challenging and time-sensitive opportunities. <a class="read_more" href="#">Read more...</a>
            </div>
            <div class="more_reading" style="display:none;">
                <div class="spaced">About You</div>
                You're eager to understand the challenges our business faces across multiple functions and apply rigorous data analyses to face them intelligently and creatively. Data analysis isn’t an academic exercise for you: you love solving real problems, educating others in how you arrive at solutions, and you’ve demonstrated a capacity to lead similar initiatives in a fast-paced environment. You love working collaboratively, have a knack for developing rapports with people quickly and easily, and know how to delegate responsibilities effectively. In essence: you’re kind, sincere, patient, and are dangerous when wielding data.

                <div class="spaced">Roles and Responsibilities</div>
                <ul>
                    <li>
                        Support business functions with targeted information
                        and analyses, and conduct iterative research in support
                        of long-term projects.
                    </li>
                    <li>
                        Work with operational, financial &amp; marketing data
                        in order to bring a holistic customer-centric view to
                        every component of our business.
                    </li>
                    <li>
                        Work with internal partners to solve real, actionable
                        problems and communicate your approaches and insights
                        within tight deadlines.
                    </li>
                    <li>
                        Serve as a knowledgeable "thought partner," able to
                        help problem-solve across a series of topics ranging
                        from customer acquisition to distribution network efficacy.
                    </li>
                    <li>
                        Develop effective knowledge sharing, including leading
                        skill share sessions to teach coworkers on how to
                        directly access and manipulate data.
                    </li>
                </ul>

                <div class="spaced">Background and Experience</div>
                <ul>
                    <li>Excellent problem-solving, analytical, and quantitative skills</li>
                    <li>Extremely strong command of SQL, with demonstrated practical experience</li>
                    <li>Experience with a scripting/analysis language is a plus (in the vein of Ruby, Python, Perl, R, etc.)</li>
                    <li>Experience in conducting business or academic research using SQL</li>
                    <li>Strong written and verbal communication skills</li>
                    <li>Experience in managing multiple, simultaneous demanding deadlines</li>
                    <li>Inquisitive, investigative nature and strong interest in the consumer-facing</li>
                    <li>Superb people skills, strong team-orientation, and a professional attitude</li>
                    <li>2-5+ years relevant experience, in either academic or professional settings</li>
                    <li>A high level of initiative</li>
                    <li>General awesomeness and a sense of humor</li>
                </ul>
            </div>
        </li>

        <li class="position">
            <h3 class="position_name">Designer</h3>
            <div class="role">
                The Creative team helps bring the Harry’s brand to life.  We are involved in every aspect of the business – from setting direction for our site, to creating beautiful packaging to developing incredibly high quality products.  As our brand grows we’re adding key members to the team who are interested in working in a fast-paced, design driven environment.
                <a class="read_more" href="#">Read more...</a>
            </div>
            <div class="more_reading" style="display:none;">
                <div class="spaced">What we’re looking for</div>
                <ul>
                    <li>Energy, kindness, sincerity, patience &amp; adaptability</li>
                    <li>Interest in the industry &amp; working in a creative, fast-paced, collaborative environment</li>
                    <li>The ability to problem solve &amp; think on your feet</li>
                    <li>Excellent computer &amp; technical skills</li>
                    <li>Demonstrated leadership and management of staff groups & major projects, as well as the ability to delegate responsibilities effectively</li>
                    <li>A knack for building rapport with people quickly & easily</li>
                    <li>A “no task is too small” attitude &amp; a positive, spirited outlook</li>
                    <li>A strong work ethic &amp; an entrepreneurial spirit</li>
                    <li>General awesomeness &amp; a sense of humor</li>
                </ul>

                <div class="spaced">Roles and Responsibilities</div>
                <ul>
                    <li>Support the Design team in designing and creating cohesive brand elements for multi-platform, cross-channel initiatives</li>
                    <li>Develop design briefs in partnership with team, and communicate design challenges & belief across the organization</li>
                    <li>Create digital content for web, PR, mobile &amp; social channels</li>
                    <li>Develop printed materials in partnership with Marketing and PR</li>
                    <li>Create dielines for packaging &amp; provide direction for physical product development</li>
                    <li>Provide creative direction for editorial &amp; product photography that supports larger brand vision, voice and goals</li>
                    <li>Drive change and innovation by improving work processes in order to create the highest quality creative possible</li>
                    <li>Proven ability to build strong, supportive and constructive relationships across the organization</li>
                </ul>

                <div class="spaced">Background and Experience</div>
                <ul>
                    <li>2-5 years of experience designing in a demanding, professional environment.</li>
                    <li>BFA encompassing formal design training.</li>
                    <li>Strong sense for typography, composition &amp; color.</li>
                    <li>Ability to work at a fast pace on multiple projects demanding a varied creative skill set.</li>
                    <li>Experience designing for web &amp; mobile applications.</li>
                    <li>Proficient in Adobe Illustrator, Photoshop &amp; InDesign. HTML a plus.</li>
                    <li>Possess a strong level of taste and aesthetic point of view, with the ability to map onto existing brand architecture.</li>
                </ul>
            </div>
        </li>
        <li class="position">
            <h3 class="position_name">Systems Engineer</h3>
            <div class="role">
                The Data Engineering team provides the lifeblood for a disruptive model – a platform that provides the specific, accurate, and actionable intelligence that let us iterate and make decisions quickly. We’re seeking talented systems engineers to build out and maintain core data systems that power production features and inform every facet of our business. Data plays an integral role at Harry’s, from helping us optimize distribution to determining when and what email gets sent to a customer. You’ll be working on major traffic and revenue-generating projects, helping scale Harry’s in a forward-thinking way, and impacting millions of people.
                <a class="read_more" href="#">Read more...</a>
            </div>
            <div class="more_reading" style="display:none;">
                <div class="spaced">About You</div>
                You’re excited about tackling thorny engineering problems, are passionate about good application architecture, and are excited to pick up new languages, approaches, and techniques to software engineering on the job. You’ve been responsible for back-end features and have had exposure to database scaling and design challenges, but you want to learn more, become an owner, and drive feature development for critical software components. Most of all, you’re eager to understand the challenges our business faces and ship code regularly to face them head-on.
                
                <div class="spaced">Roles and Responsibilities</div>
                <ul>
                    <li>Excited to become an owner and be responsible for large and complex technical projects that touch all our systems.</li>
                    <li>Work closely with the team to build features that consolidate all the data we generate so that we can use it for services, analysis, and reporting.</li>
                    <li>Work closely with the team to build out features in our email marketing platform, a service we built in-house after we realized solutions in the market do not serve our needs.</li>
                    <li>Integrate with and instrument our website to gather the data we need.</li>
                    <li>Willingness to learn on the job and an excitement to learn new languages/techniques.</li>
                </ul>
                
                <div class="spaced">Background and Experience</div>
                <ul>
                    <li>Experience working on systems and back-end components that transport, store, process, and retrieve data: unstructured or structured, big or small.</li>
                    <li>Experience scaling databases and applications.</li>
                    <li>Extremely comfortable with Unix command line tools and at least one scripting language (Python, Ruby, PHP etc.) or systems language (C, Java, Scala, Go, etc.)</li>
                    <li>Background working with web stacks – full stack development is a plus, but not required.</li>
                    <li>Being a wonderful individual with a sense of humor.</li>
                </ul>
            </div>
        </li>

        <li class="position">
            <h3 class="position_name">Software Engineer</h3>
            <div class="role">
                Our custom e-commerce platforms power the entire business, from the HTML on our homepage to our supply chain. As our brand grows we’re adding key members to our team who can help engineer key pieces of our app ranging from supply chain systems to production website features. We’re looking for someone genuinely excited about redefining the purchase and delivery experience for millions of people over time and building the Harry’s platform of tomorrow.
                <a class="read_more" href="#">Read more...</a>
            </div>

            <div class="more_reading" style="display:none;">
                <div class="spaced">About You</div>
                You’re excited about working with every part of our business to help build systems and features that surprise and delight our customers. Making sure our users have the best possible experience whether it be with a website feature or supply chain system. You’re ready to learn new techniques and languages to solve problems and you’re comfortable shipping code every day.

                <div class="spaced">Roles and Responsibilities</div>
                <ul> 
                    <li>Excited to become an owner and be responsible for supply chain and website features.</li>
                    <li>Work closely with our front end team to release new and improved website features.</li>
                    <li>Willingness to learn on the job and an excitement to learn new languages/techniques.</li>
                </ul>

                <div class="spaced">Background and Experience</div>
                <ul>
                    <li>Extremely comfortable working with Unix command line tools</li>
                    <li>Experience programming against SQL and NoSQL style database</li>
                    <li>Experience in E-Commerce a plus, but certainly not necessary</li>
                    <li>Knowledge of at least one scripting language (PHP, Ruby, Python, etc.)</li>
                    <li>Ability to prioritize coding tasks and ship code quickly and regularly</li>
                    <li>Superb communication skills and patience with others</li>
                    <li>General awesomeness and a sense of humor</li>
                </ul>
            </div>
        </li>

        <li class="position">
            <h3 class="position_name">Front End Engineer</h3>
            <div class="role">
                Our custom e-commerce platforms power the entire business, from the HTML on our homepage to our supply chain. As our brand grows we’re adding key members to our team who can own, architect and expand key pieces of our app.We’re looking for someone genuinely excited about redefining the purchase and delivery experience for millions of people over time and building the Harry’s platform of tomorrow.
                <a class="read_more" href="#">Read more...</a>
            </div>
            <div class="more_reading" style="display:none;">
                 <div class="spaced">About You</div>
                    You’re excited about building systems that optimize the flow of our supply chain and architecting production features that surprise and delight our users. Making sure we are always in stock and getting our products to our users in the fastest, most efficient way possible are some of the problems you’ll tackle daily. You’re ready to learn new techniques and languages to solve problems and you’re comfortable shipping code every day.
                <div class="spaced">Roles and Responsibilities</div>
                <ul> 
                    <li>Work closely with our design and product teams to help guide and develop website features</li>
                    <li>Build and maintain our client facing interfaces as well as the underlying Javascript code</li>

                </ul>

                <div class="spaced">Background and Experience</div>
                <ul>
                    <li>Experience building beautiful and functional interfaces for a consumer web property</li>
                    <li>Extremely comfortable taking designs and transforming them to semantic and concise HTML and CSS</li>
                    <li>Good working knowledge of  both vanilla Javascript and at least one framework (we use MooTools)</li>
                    <li>Ability to prioritize coding tasks and ship code quickly and regularly</li>
                    <li>Superb communication skills and patience with others</li>
                    <li>General awesomeness and a sense of humor</li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="contact_info"><span class="contact">contact</span>: Please email
        your resume to <a href="mailto:jobs@harrys.com">jobs@harrys.com</a> and
        include the position you are applying for, e.g.  "Data Analyst" in the
        title. Please also include a few sentences, which describe your
        background and your interest in working at Harry's.
    </div>
    <div class="clearfix"></div>
</li>

<!-- OLD STUFF
<li class="position">
    <h3 class="position_name">Software Engineering Intern</h3>
    <div class="role">
        <div class="spaced">Responsibilities</div>
        <ul><li>Design and implement core features of the production website</li>
            <li>Build infrastructure to support various external features and other units of the business</li>
            <li>Think about performance all the time, and proactively make changes to make our platform better</li>
            <li>Determine and strategize ways to operate more efficiently, like optimizing our inventory and shipping algorithms</li></ul>
        <a class="read_more" href="#">Read more...</a>
    </div>
    <div class="more_reading" style="display:none;">
        <div class="spaced">Required</div>
        <ul><li>Extremely comfortable working with Unix command line tools</li>
            <li>Experience programming against SQL and "NoSQL" databases, and an understanding of what using one database over another buys you</li>
            <li>Knowledge of at least one scripting language (PHP, Ruby, Python, etc.)</li>
            <li>Knowledge of a typesafe language a plus, but certainly not necessary (Scala, Java, C)</li>
            <li>Ability to prioritize coding tasks and ship code quickly and regularly</li>
            <li>Superb communication skills and patience with others</li>
            <li>General awesomeness and a sense of humor	 	 	 		</li>
            <li>Start Date & Hours: Summer/Fall Semesters. While we ask that you commit a minimum of 12-15 hours/week, we'll happily work around your school schedule.</li>
    </ul></div>
</li>
<li class="position">
    <h3 class="position_name">Data Engineering Intern</h3>
    <div class="role">
        <div class="spaced">Responsibilities</div>
        <ul>Instrument our website and marketing communications to gather the data we need.
            <li>Build infrastructure to automate data collection, storage, processing, and presentation.</li>
            <li>Produce, analyze, and present data to users in a context that allows them to make meaningful strategic decisions.</li>
            <li>Use your sheer intellectual horsepower to figure out and communicate how to better delight our customers.</li>
            <li>Put our data to use to help run Harry's like a well-oiled machine.</li>
        </ul><a class="read_more" href="#">Read more...</a>
    </div>
    <div class="more_reading" style="display:none;">
        <div class="spaced">Required</div>
        <ul><li>Background in building systems that transport, transform, and make sense of [unstructured, structured, big, small] data</li>
            <li>Experience programming against SQL and "NoSQL" databases, and an understanding of what using one database over another buys you</li>
            <li>Background in working with and building A/B testing systems</li>
            <li>Extremely comfortable with Unix command line tools and at least one scripting language (in the vein of Python, Ruby, PHP etc.)</li>
            <li>Background working with web stacks – full stack development is a plus, but not required</li>
            <li>Affinity and love for statistics in all ways, shapes and forms</li>
            <li>A bachelor's degree in Computer Science with an internship or two under your belt, or you have comparable industry experience.</li>
            <li>General awesomeness and a sense of humor</li>
            <li>Start Date & Hours: Summer/Fall Semesters. While we ask that you commit a minimum of 12-15 hours/week, we'll happily work around your school schedule.</li>
    </ul></div>
</li>

</ul>
<div class="contact_info"><span class="contact">contact</span>: Please email your resume to <a href="mailto:jobs@harrys.com">jobs@harrys.com</a> and include "Data Engineering Intern" in the title. Please also include a few sentences, which describe your background and your interest in working to further user experience at Harry's.</div>
<div class="clearfix"></div>
</li>
 <li class="position">
            <div class="role">
                
                <a class="read_more" href="#">Read more...</a>
            </div>
            <div class="more_reading" style="display:none;">
                
            </div>

        </li>
-->

