<li id="panorama" class="listing">
            <img class="profile_photo" src="/images/jobboard/panorama.png">
            <h2 class="name">Panorama</h2>
             <div class="about">
               Based in New Haven, Connecticut, Panorama Education is a data analytics company for K-12 education. Through our stakeholder survey platform, we aim to help school districts, charter networks, teacher organizations, and state education departments improve teaching, increase student and parent engagement, attract and retain great teachers, and foster a positive campus culture. Although we started out with surveys, in the long term,we're working on combining the feedback we gather with millions of other data points to provide educators a deeper understanding of their schools. We plan to reshape education by leveraging the troves of data available to us.
 </div>
<ul class="positions">
<li class="position">
<h3 class="position_name">Backend Developer</h3>
<div class="role">
<div class="spaced">Desired</div>
<ul><li>Since we're mostly a Ruby/Rails shop, experience with both is a plus, but not a requirement. Our web apps run off the Rails stack, but our analytics platform is mostly pure Ruby.</li>
<li>Experience or interest in statistics, machine learning, or data mining</li>
<li>Experience with UNIX based operating systems is a plus </li>
</ul>
</div>
</li>
<li class="position">
<h3 class="position_name">Frontend Developer</h3>
<div class="role">
<div class="spaced">Desired</div>
<ul><li>A strong understanding of HTML, CSS, and JavaScript -- Experience/comfort with UI/UX design</li>
<li>Backbone experience is a plus, but not essential</li>
</ul>
</div>
</li>

</ul>
<div class="contact_info"><span class="contact">contact</span>: email <a href="mailto:jobs@panoramaed.com">jobs@panoramaed.com</a></div>
<div class="clearfix"></div>
</li>
