
<li class="listing">
    <img class="profile_photo" src="/images/logos/logo.jpg" />
    <h2 class="name">Company</h2>
    <div class="about">
        <a href=''>Company</a> is...
    </div>

    <h3 class="position">Position</h3>
    <div class="role">Role<a class="read_more" href="#">Read more...</a></div>
    <ul class="more_reading" style="display:none;">
        <li>More</li>
    </ul>

    <div class="contact_info"><span class="contact">contact</span>: email <a href="mailto:jobs@artsy.net">ContactEmail</a></div>
    <div class='clearfix'></div>
</li>
