<li id="urban" class="listing">
            <img class="profile_photo" src="/images/jobboard/urban_compass.png">
            <h2 class="name">Urban Compass</h2>
             <div class="about">
                   Urban Compass is a startup based in New York City. We're working to help our customers connect with the world around them by bringing together technology and on-the-ground knowledge to re-imagine old-school industries.
 </div>
<ul class="positions">
<li class="position">
<h3 class="position_name">Software Engineer, Mobile Applications</h3>
<div class="role">
    As a mobile apps software engineer at Urban Compass you will create robust high-volume production applications, and develop prototypes quickly.
<a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
    <div class="spaced">Required</div>
    <ul>
        <li>BS degree in Computer Science or related field</li>
        <li>AJAX/HTML/CSS experience and an interest in user interface design</li>
        <li>Web application development experience</li>
        <li>Experience with Embedded systems, mobile apps (Android and iOS) and mobile optimized websites</li>
    </ul>
    <div class="spaced">Desired</div>
    <ul>
        <li>Masters or PhD in Computer Science or related field</li>
        <li>Experience using third party libraries for Android and/or iOS</li>
        <li>Development experience in server-side technologies such as C/C++ and/or Java</li>
        <li>Significant experience developing user-facing software</li>
        <li>Experience working on cross-browser platforms</li>
        <li>Knowledge of UI frameworks such as XUL, Flex, and XAML</li>
        <li>Object-oriented JavaScript skills</li>
    </ul>
</div>
</li>
<li class="position">
<h3 class="position_name">Software Engineer</h3>
<div class="role">
    As a software engineer at Urban Compass, you will join an elite engineering team that includes Google and MIT alumni.  You will design and implement new algorithms and data structures that help Urban Compass technology to be best in class. Your code will have to handle high volume of data with minimal latency, and you will be a core part of the team that improves our web applications to meet demand, from a performance and scalability perspective.
<a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
    <div class="spaced">Required</div>
        <ul>
            <li>BS, MS or PhD in Computer Science or related field.</li>
            <li>In-depth understanding of data structures, algorithms, and software design.</li>
            <li>Experience in the design and development of large distributed systems.  We care about making code run that extra 10% faster: you should too.</li>
            <li>Fluency in C++ or Java. Contribution to the open-source community a big plus.</li>
            <li>Experience programming in a scripting language, such as Python or Ruby.</li>
            <li>Comfortable interacting in a creative, fast-paced, and fun team.</li>
        </ul>
    <div class="spaced">Desired</div>
        <ul>
            <li>Interest in machine learning, statistics and probability.</li>
            <li>Experience with Hadoop, Storm or other MapReduce-like architectures.</li>
            <li>Experience with search engines, data mining, and relevance evaluation methodologie.</li>
            <li>Familiarity operating Linux-based systems.</li>
        </ul>
    </div>
</li>

<li class="position">
<h3 class="position_name">UI/UX Designer</h3>
<div class="role">
    As the UI/UX Designer at Urban Compass, you will work closely with engineers and business team throughout all stages of the product cycle. We are looking for a critical thinker with a good design sense, a strong technical background, and an eye for making things better.<br />
    <div class="spaced">Responsibilities</div>
    <ul>
        <li>Design the user model and user interface for all Urban Compass products and features.</li>
        <li>Manage the graphic system and visual language for the Urban Compass brand.</li>
        <li>Develop high level and/or detailed storyboards, mockups, and prototypes.</li>
        <li>Develop pixel perfect Photoshop comps.</li>
        <li>Create site-wide style guides.</li>
        <li>Map user flows, and paper prototype interactions.</li>
        <li>Rapid prototype in Fireworks or other tool of choice.</li>
        <li>Concept interactions across mediums: web, mobile and email.</li>
    </ul>
<a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
    <div class="spaced">Required</div>
    <ul>
        <li>Broad experience designing web and mobile applications coupled with a capacity for simplifying complexity and ability to create widely-palatable UIs and workflows.</li>
        <li>A diverse portfolio that exhibits excellent use of typography, color, imagery, and graphic elements.</li>
        <li>Knowledge of front end markup: HTML/CSS/JQuery/other.</li>
        <li>Strong sketching skills, and lo-fi & hi-fi prototyping skills.</li>
        <li>Full knowledge of Adobe CS, and proficient in Photoshop, Illustrator, and InDesign.</li>
        <li>Strong, clean visual design sense.</li>
        <li>Experience using Apple products.</li>
    </ul>
    <div class="spaced">Desired</div>
        <ul>
        <li>BFA/MFA or equivalent industry experience.</li>
        <li>3 years of relevant work experience, including demonstrated experience in designing usable web-based interfaces.</li>
        <li>Expert HTML skills.</li>
        <li>Experience designing for mobile devices.</li>
        <li>Icon design.</li>
        <li>Excellent communication skills.</li>
        <li>Experience in user testing.</li>
    </ul>
    </div>
</li>
</ul>
<div class="contact_info"><span class="contact">contact</span>: email <a href="mailto:laurice@urbancompass.com">laurice@urbancompass.com</a></div>
<div class="clearfix"></div>
</li>
