<li class="listing">
            <img class="profile_photo" src="/images/jobboard/warby_parker.png">
            <h2 class="name">Warby Parker</h2>
             <div class="about">
               Warby Parker was conceived as an alternative to the overpriced and bland eyewear available today. By circumventing traditional channels and engaging with customers directly through our website, Warby Parker is able to provide higher-quality, better-looking prescription eyewear at a fraction of the price.

 </div>
<ul class="positions">
<li class="position">
<h3 class="position_name">Software Engineer</h3>
<div class="role">
<div class="spaced">What you'll do</div>
<ul>
<li>Build and improve software systems for a fast-growing, disruptive e-commerce company</li>
<li>Collaborate in one of our agile teams, learning anything necessary to deliver exceptional technology</li>
<li>Participate in code reviews and help maintain high standards of code quality</li>
<li>Deliver limited-defect products through ubiquitous test automation</li>
</ul>
<a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
<div class="spaced">Required</div>
<ul><li>At least 3 years professional programming experience</li>
<li>Impressive programming and web application development skills</li>
<li>Experience with data modeling in one or more modern relational databases and SQL</li>
<li>An appreciation for beautiful code</li>
<li>Good design taste, even for internal applications</li>
<li>An aptitude and inclination for learning new domains quickly Excellent verbal and written communications skills</li>
<li>Strong desire to support and commit to open source software projects</li></ul>
<div class="spaced">Desired</div>
<ul><li>Agile development exposure</li>
<li>Experience with multiple languages, web frameworks, and datastores</li>
<li>Magento or general e-commerce experience</li>
<li>Extensive experience writing production quality Java, PHP, or Python</li>
<li>Web service design and implementation (e.g. REST, JSON-RPC, SOAP/WSDL)</li>
<li>Comfortable with Linux/Unix</li>
<li>Cognizant of DevOps practices and principles</li>
</ul></div>
</li>
<li class="position">
<h3 class="position_name">Technology Intern</h3>
<div class="role">
<div class="spaced">What you'll do</div>
<ul><li>Support the development of applications that make our company succeed</li>
<li>Participate in code reviews, create and practice coding standards</li>
<li>Network troubleshooting and general management</li>
<li>Engage in special projects that align with personal interests and current company's needs</li>
</ul><a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
<div class="spaced">Who you are</div>
<ul>
<li>Eager to work in a fast-paced, high-growth startup</li>
<li>Experienced in many aspects of technology including but not limited to: software engineering, network management, and quality engineering</li>
<li>Detail-oriented and organized to the point of neuroticism </li>
<li>High energy and psyched to learn</li>
</ul></div>
</li>
<li class="position">
<h3 class="position_name">Data Science Intern</h3>
<div class="role">
We are looking for someone who can use the instagram API (using the available python library perhaps with django too), suck down the warbyparker-related data (photos + captions + comments + likes + hashtags), release the NLP hounds on the comments, and mash it with our customer + product data. There is some basic data functionality we want to get done, but we'll hand you a long rope do something useful, cool and foremost fun with the data.
<a class="read_more" href="#">Read more...</a>
</div>
<div class="more_reading" style="display:none;">
<div class="spaced">Who you are</div>
<ul><li>Eager to work in a fast-paced, high-growth startup</li>
<li>Experienced with many aspects of technology including software engineering (Python and Django are a plus!) </li>
<li>Familiar with data vizualization tools</li>
<li>Detail-oriented to the point of neuroticism </li>
<li>High energy and hungry for knowledge</li></ul>
</div>
</li>

</ul>
<div class="contact_info"><span class="contact">contact</span>: visit <a href="http://wp.theresumator.com/apply/">http://wp.theresumator.com/apply/</a></div>
<div class="clearfix"></div>
</li>
