<li id="yipit" class="listing">
            <img class="profile_photo" src="/images/jobboard/yipit.jpg">
            <h2 class="name">Yipit</h2>
             <div class="about">
                Yipit provides instant, insider access to all the best sales on the web and in your city. If it's on sale, and it's online, it's on Yipit. Whether you're interested in snagging this season's hottest products at a discount, or finding ways to enjoy your city for less, we're your one-stop shop for quality and savings.
 </div>
<ul class="positions">
<li class="position">
<h3 class="position_name">Developers and Product Analysts in the Product Development Team</h3>
<div class="role">
Members of the Product Development Team at Yipit are responsible for conception, building, analysis, and maintenance of new products and features at Yipit. While this is a highly technical role, deep prior technical experience is not required since Yipit teaches its employees how to code. People who succeed on the Product Development Team are ambitious, self-sufficient, quantitative and curious.
<!--a class="read_more" href="#">Read more...</a-->
<div class="more_reading" style="display:none;">
</div>
</ul>
<div class="contact_info"><span class="contact">contact</span>: email <a href="mailto:jobs+hackyale@yipit.com">jobs+hackyale@yipit.com</a></div>
<div class="clearfix"></div>
</li>
