<li id="amicus" class="listing">
    <img class="profile_photo" src="/images/jobboard/amicus.png">
    <h2 class="name">Amicus</h2>
    <div class="about">
        Having grown out of the Yale Entrepreneurial Society after winning the
        Yale Venture Challenge, <a href="http://amicushq.com/">Amicus</a> is a
        well-funded NYC startup that helps
        nonprofits and universities raise more money, attract more members, and
        win more votes. It does this by making it fun and easy for a supporter
        of a nonprofit to reach out to their friends, family, and neighbors on
        behalf of a cause they care about. A social good for-profit startup,
        Amicus believes purpose and profit should go hand in hand.
    </div>
    <ul class="positions">
        <li class="position">
            <h3 class="position_name">Software Engineer</h3>
            <div class="role">
            We're hiring several full­time engineers to work on backend app development, search, big data, mobile and web apps.
            </div>
        </li>
    </ul>
    <div class="contact_info"><span class="contact">contact</span>: visit
        <a href="http://jobs.amicushq.com/">jobs.amicushq.com</a>
    </div>
    <div class="clearfix"></div>
</li>

