<li class="listing">
    <img class="profile_photo" src="/images/logos/artsy.jpg" />
    <h2 class="name">Artsy</h2>
    <div class="about">
        <a href='http://artsy.net/'>Artsy</a> is
        changing the way we view, buy, and sell art.
    </div>

    <h3 class="position">Software Engineer intern</h3>
    <div class="role">You are an aspiring and talented engineer who is passionate about solving hard problems, so we're not going to waste your time by saying "you must have at least a 3.8 GPA or "we're only looking for rockstars." Instead we're going to tell you why Artsy is an amazing place to work.
    <ul>
        <li>First and foremost, you will get to work with an amazing team. We invest an extraordinary amount of time finding the best possible people. This means as an intern, you will receive intensive mentorship from world-class engineers while taking ownership over full products from our front-end, to our API, back-end, and ipad app for partners.</li>
        <li>There are no set hours or holidays, no pointless bureaucracy. Work whenever you want, wherever you want. That's the beauty of hiring world-class people, they deliver incredible results and are wonderful to work with — what else matters? The Netflix Culture slides do the best job of describing how we think about culture at Artsy.</li>
        <li>To solve challenging problems, we employ cutting-edge technologies such as Backbone.js, Node.js, MongoDB and Redis; but when we can't find a technology that does what we need, we write our own open-source projects and contribute them back to the community.</li>
        <li>At its core, Artsy is a technology company. In addition to the engineering team, both the CEO and COO have technical backgrounds (Computer Science from Princeton, and Mathematics from Columbia). Our ultimate goal is to create artificial intelligence with the qualities of the world's most omniscient art advisor. If Skynet ends up winning, at least it will have good taste :).</li>
        <li>We have partnered with 400+ of the best galleries in the world and 100+ art museums and non-profit institutions. No startup has ever come so close to unlocking this massive data set before.</li>
        <li>Our downtown Manhattan office has 360 degree views of New York. You can see the horizon in all 4 directions, the iconic midtown and downtown skylines, the Hudson and East rivers. This is where we do Stand-up.</li>
        <li>Investors and advisors include: Peter Thiel, Jack Dorsey, Joe Kennedy (CEO of Pandora), Charlie Cheever (Quora founder), Alexis Ohanian (Reddit founder), Keith Rabois (COO Square), Founder Collective, Dave Morin (Path founder), Wendi Murdoch, Dasha Zhukova, and Thrive Capital.</li>
    </ul>

    <div class="contact_info"><span class="contact">contact</span>: email <a href="mailto:jobs@artsy.net">jobs@artsy.net</a></div>
</li>
