<li id="mongodb" class="listing">
    <img class="profile_photo" src="/images/jobboard/mongodb.png">
    <h2 class="name">MongoDB</h2>
    <div class="about">
     	<a href="http://mongodb.com/">MongoDB</a> is the leading NoSQL database. MongoDB (named from "huMONGOus") is reinventing data management and powering big data. Designed for how we build and run applications today, MongoDB empowers organizations to be more agile and scalable. It enables new types of applications, better customer experience, faster time to market and lower costs. MongoDB has a thriving global community with 4 million downloads, 50,000 Online Education registrations, 15,000 MongoDB User Group (MUG) members and 10,000 annual MongoDB Days attendees. The company has more than 600 customers, including many of the world’s largest organizations. We have dual headquarters in New York City and Silicon Valley with a worldwide presence.
	</div>
	<ul class="positions">
		 <li class="position">
		 	<h3 class="position_name">Software Engineer - New Grad</h3>
            <div class="role">
                You are eligible to apply to this position if you are currently in your final year of a Bachelor’s or Master’s program in Computer Science or are within one year of having obtained your degree. MongoDB, Inc is seeking Computer Science students with a strong background in CS theory and systems, to join us in building the next revolution in database technology at our Silicon Valley and NYC locations.
            	<br>
                By applying for our New/Recent Grad Software Engineer position you will be considered for various roles across MongoDB’s Engineering teams. During your first six months as an employee you will participate in our rotational program to determine where your personality, passion, and skill set fit best.

                <div class="spaced">Requirements</div>
                <ul>
                	<li>In the process of receiving or having received a BS or MS in Computer Science</li>
					<li>A solid foundation in computer science theory, with strong competencies in data structures, algorithms, and software design</li>
					<li>Extensive programming experience</li>
					<li>You are fluent in C++ and/or proficient with, Python, Java, JavaScript, Ruby or other comparable high level programming languages</li>
					<li>You have a strong systems background</li>
					<li>There is a good chance you’ve probably been a TA or Head TA for a CS course</li>
					<li>You’ve had one or more internships with prestigious software companies</li>
					<li>You are familiar with MongoDB and have probably used it to build an application or project</li>
					<li>You’ve probably been a participant in several hackathons</li>
                </ul>

                <div class="spaced">Benefits and Perks</div>
                <ul>
                	<li>Competitive Salary</li>
					<li>Health benefits include: Medical, Dental, Vision, with FSA accounts</li>
					<li>Stock options</li>
					<li>401(k)</li>
					<li>Commuter benefits</li>
					<li>Unlimited vacation/sick days</li>
                	<li>Fully stocked kitchens, and weekly catered lunches</li>
					<li>Equipment of your choosing</li>
					<li>In office Yoga and Bootcamp</li>

                </ul>
            </div>
        </li>

        <li class="position">
		 	<h3 class="position_name">Software Engineering Intern - Summer 2014</h3>
            <div class="role">
                You are eligible to apply to this position if you are currently a Computer Science major pursuing a Bachelor’s or Master’s degree and looking for a software engineering internship in the summer of 2014.
				MongoDB is seeking Computer Science students with a strong background in CS theory and systems, to join us in building the next revolution in database technology at our Silicon Valley and NYC locations. Our Software Engineering internship has two tracks. One option for the summer is to work on an application end to end. Another option is to join one of our engineering teams and work along side an engineer(s) on various tasks.
				<div class="spaced">Requirements</div>
                <ul>
                	<li>In the process of receiving a BS or MS in Computer Science</li>
					<li>A solid foundation in computer science theory, with strong competencies in data structures, algorithms and software design</li>
					<li>Programming experience</li>
					<li>You are proficient in C++ and/or additional languages Ruby, Python, PHP, C, C#, or JavaScript/Node.js</li>
					<li>You’ve probably been a participant in several hackathons</li>
					<li>There is a good chance you’ve probably been a TA or Head TA for a CS course</li>
                </ul>
            </div>
        </li>
	</ul>
	<div class="contact_info"><span class="contact">contact</span>: visit <a href="http://www.10gen.com/careers">http://www.10gen.com/careers</a></div>
</li>

