<li id="panorama" class="listing">
    <img class="profile_photo" src="/images/jobboard/panorama.png">
    <h2 class="name">Panorama</h2>
    <div class="about">
        <a href="http://panoramaed.com/">Panorama Education</a> is a Boston-based Y Combinator (S13) company devoted to helping K-12 teachers and schools improve. We work with some of the largest public school districts and charter networks in the country (including Teach for America and the Los Angeles Unified School District), providing sophisticated data analytics based on student feedback data. We’re small but growing quickly, and we’re looking for smart people to join our team!
	</div>
	<ul class="positions">
		<li class="position">
			<h3 class="position_name">Software Engineer</h3>
            <div class="role">
            	At Panorama, our engineers are changing history way beyond <code>git rebase -i</code>. The engineering team is involved in every step of the product cycle, from initial idea to final implementation. A typical developer's day involves a healthy mix of friendly architectural debates, brainstorming upcoming features, and shipping new code.
            	<br>
                Let's get down to the nitty-gritty, shall we? Our tech stack includes Ruby on Rails 4 (and straight Ruby too), RSpec, Haml/Sass, AngularJS, Heroku/AWS, PostgreSQL, Redis, and, yes, computers.

				<div class="spaced">Some of our tech challenges include</div>
				<ul>
					<li>Real-time, distributed analytics on massive data sets.
					<li>Dynamic paper form generation and optical mark recognition.
					<li>Designing intuitive, next-generation interfaces and data visualizations.
				</ul>

				<div class="spaced">The Ideal Candidate</div>
				<ul>
					<li>Has experience with Ruby or other scripting languages.</li>
					<li>Has used Ruby on Rails, or other MVC web frameworks.</li>
					<li>Can build modern websites with semantic HTML/CSS and complex Javascript (AngularJS experience a plus).</li>
					<li>Understands SQL and database design.</li>
					<li>Has used git (and gets the bad joke at the top of this listing), or other version control systems.</li>
					<li>Likes writing more thorough tests than a calculus professor.</li>
					<li>Has strong knowledge of CS fundamentals.</li>
					<li>Can take initiative and manage his/her own projects.</li>
				</ul>
            </div>

        </li>
	</ul>
	<div class="contact_info"><span class="contact">contact</span>: email <a href="mailto:jobs@panoramaed.com">jobs@panoramaed.com</a></div>
</li>
